<form [formGroup]="form" (ngSubmit)="registrar()" #frmUsuario="ngForm">
    <mat-tab-group>
        <mat-tab label="Datos Personales">
            <mat-form-field>
              <input matInput placeholder="Nombres" formControlName="nombres">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput placeholder="Apellidos" formControlName="apellidos">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput placeholder="DNI" formControlName="dni" maxlength="8">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" [max]="maxFecha" formControlName="fechaNac">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <!--
            <button mat-button color="primary"  type="button" onclick="document.getElementById('fileToUpload').click()">Seleccionar archivo</button>
            <input id="fileToUpload" type="file" (change)="selectFile($event)" style="display:none;">
            <img mat-card-image [src]="imagenData" *ngIf="imagenEstado" width="50%" height="50%"/>
            <p>{{labelFile}}</p>
            -->
            
          </mat-tab>
      
          <mat-tab label="Datos del Usuario">
            <mat-form-field>
              <input matInput placeholder="Nombre de Usuario" formControlName="usuario">
            </mat-form-field>
      
            <mat-form-field>
              <input matInput type="password" name="password" placeholder="Contraseña" formControlName="password" [formGroup]="form"
                required> 
            </mat-form-field>
      
            <mat-form-field>
              <input matInput type="password" placeholder="Repetir contraseña" formControlName="confirmPassword" [formGroup]="form"
                required>
            </mat-form-field>
      
            <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">Registrar</button>          
          </mat-tab>
    </mat-tab-group>  
    <button mat-raised-button color="accent" type="button" (click)="cancelar()">Cancelar</button>
  </form>